@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:ital,wght@1,900&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Mukta:wght@300&family=Poppins:ital,wght@1,900&family=Ubuntu:wght@700&display=swap');

body{
	background-color: rgba(240,219,222);
	margin: 0
}




a{
	font-family: 'Mukta', sans-serif;
	text-decoration: none
}


h2{
	font-family: 'Ubuntu', sans-serif;
	color: rgba(50,155,124,1.00)
}

h5{
	font-family: 'Ubuntu', sans-serif;
		color: rgba(24,27,43,1.00)
}

p{
	font-family: 'Mukta', sans-serif;
	color: rgba(24,27,43,1.00)
}

.baner{
	background-image:url("imagesP/BANER.jpg");
	text-align: left;
	padding: 200px 0px;
	background-size: cover;	
}

.card-text{
	font-family: 'Mukta', sans-serif;
	color: rgba(24,27,43,1.00)
}

footer{
	background-color: rgba(240,219,222);
	justify-content: end;
	display:flex;
	align-items: flex-end;
	text-align: center
}